/*----------reseto basico---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;


}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/*termina reseteo basico*/






/*----header----*/

header {
  background-color: white;
  padding: 15px;

  display: flex;

  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;


}

header nav ul {

  display: flexbox;
  gap: 20px;
}

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
  }

  nav {
    display: block;
  }

  header ul {
    display: flex;
    gap: 20px;
  }

 
}


/*termina header*/






body {

  font-family: 'Montserrat', sans-serif;
  background-color: rgb(255, 255, 251);
  font-size: 12px;
  text-align: center;
  color: black;


}


p {
  padding: 0;
  margin: 0 0 30px 0;
  font-size: 14px;
}

/* Empieza Nosotros
--------------------------------*/

h3 {

  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: rgb(75, 70, 70);
  padding:5px ;
}



/* Termina Nosotros!
--------------------------------*/

/* ----- Productos ----- */

.productos-titulo {
  background-color: white;
  text-align: center;
  padding: 15px;
}


.slider-productos {
  padding: 15px;
  display: flex;
  gap: 20px;
  overflow: auto;
}


/* ---- Tarjeta ----  */

.productos-propiedades {

  border: 2px solid black;
  border-radius: 20px;

  overflow: hidden;

  min-width: 300px;
  height: 350px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.slider-productos {
  padding: 15px;
  display: flex;
  gap: 20px;
  overflow: auto;
}

/*
.servicios-fondo {

  background-color: blue;
}


/* Servicios
--------------------------------*/
#servicios {
  padding: 60px 0;
  background:#e7cba4;
}

#servicios .section-header h3,
#servicios .section-header p {
  color: #fff;
}

#servicios .card {
  background: #e7cba4;
  border-color:#e7cba4;
  border-radius: 10px;
  margin: 0 15px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s ease-in-out;
  height: 100%;
}

#servicios .card:hover {
  background: #e7cba4;
  border-color:#e7cba4;
}

#servicios .card i {
  font-size: 48px;
  padding-top: 15px;
  color: #fff;
}

#servicios .card h6 {
  font-size: 22px;
  font-weight: 600;
}

#servicios .card p {
  font-size: 15px;
  color: #fff;
}

#servicios .card .readmore {
  color: #fff;
  font-weight: 600;
  display: inline-block;
  transition: 0.3s ease-in-out;
  border-bottom: #00458f solid 2px;
}

#servicios.card .readmore:hover {
  border-bottom: #fff solid 2px;
}

#servicios .counters {
  padding-top: 40px;
}

#servicios .counters span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: #fff;
}

#servicios .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #cce5ff;
}
/*  Termina Servicios
--------------------------------*/